# IntelliJ IDEA
.idea/
*.iml
*.iws

# Build artifacts
target/
build/
bin/
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Log files
*.log
log/

# OS-specific files
.DS_Store
Thumbs.db

# Other
out/